* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* === rootvariable === */
:root {
    --border-radius: 10px;
    --background-color: rgb(255, 255, 255);
    --color-heading: rgb(0, 0, 0);
    --color-description: rgb(78, 78, 78);
    --border-radius: 10px;

}

body {
    margin: 10px 75px;
}

div.travel {
    display: flex;
    gap: 50px;
    justify-content: space-around;

}

div.travelbox {
    gap: 20px;
    padding: 25px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    width: 45%;
    border-radius: var(--border-radius);
    position: relative;
    box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0.3);
}

img.image {
    border-radius: var(--border-radius);
}

div.event {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.absolutebox {
    position: absolute;
    right: -10%;
    background-color: var(--background-color);
    display: flex;
    padding: 10px;
    gap: 10px;
    bottom: 60px;
    border-radius: var(--border-radius);
    box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0.3);
    width: 50%;

}

img.city {
    border-radius: 50px;
}

span {
    color: blueviolet;
    font-weight: 300;
}

p.completed {
    font-weight: 600;
}

div.citytext {
    gap: 10px;
    display: flex;
    flex-direction: column
}

div.people {
    gap: 10px;
    display: flex;

}

@media screen and (max-width: 1075px) {
    div.travel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.travelbox {
        width: 100%;
    }
}