div.headandsub {
    display: flex;
    align-items: center;
    gap: 20px;
}

h2.title {
    background-color: rgb(185, 255, 102);
    border-radius: 7px;
    color: black;
    padding: 0px 7px 0px 7px;
    font-size: 40px;
}

p.subhead {
    font-size: 18px;
    gap: 20px;
}

p.subcase {
    width: 40%
}

p.subour {
    width: 25%
}

p.learn {
    color: rgb(185, 255, 102);
    ;
}

div.case_content {
    display: flex;
    flex-direction: column;
    padding: 30px;

}

div.rightborder {
    border-right: 1px solid white;
}

div.contentword {
    color: white;
}

div.case_border {
    background-color: rgb(25, 26, 35);
    display: flex;
    padding: 30px;
    border-radius: 45px;
}

div.learn_more {
    display: flex;
    align-items: center;
}

div.content_number {
    font-size: 60px;
    font-weight: bold;
}

div.content_title {
    font-size: 30px;
    font-weight: medium;
}

div.process_border {
    display: flex;
    border-radius: 45px;
    border: 1px solid black;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0px 5px;
    padding: 40px 60px;
    border-bottom: 1px solid black;
}

div.processgreen {
    background-color: rgb(185, 255, 102);
    align-items: center;

}

div.processgrey {
    background-color: rgb(243, 243, 243);
    align-items: center;

}

div.process {
    display: flex;
    align-items: center;
    gap: 25px
}

div.cardborder {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 45px;
    border: 1px solid black;
    width: 50%;
    padding: 15px;
}

div.bordergrey {
    background-color: rgb(243, 243, 243);
    box-shadow: 0px 5px;

}

div.process_container {
    display: flex;
    justify-content: space-between;

}

div.process_container {
    padding: 25px 0px;
}