    @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

    body {
        font-family: "Space Grotesk";
        padding: 30px 100px 0px 100px;
        font-size: 15px;
    }

    #container {
        max-width: 1280px;
        margin: auto;
    }

    div.header {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
    }

    div.logo {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    img.hamburgerbar {
        display: none;
    }

    div.menu_container {
        display: flex;
        gap: 60px;
        align-items: center;
        font-size: 16px;
    }

    button.request {
        color: black;
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
        padding: 20px 30px 20px 30px;

    }

    p {
        font-size: 16px;

    }

    div.footer {
        padding-top: 20px;
    }

    div.footerborder {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        border-radius: 45px 45px 0px 0px;
    }

    div.footerbg {
        background-color: rgba(25, 26, 35, 1);
        padding: 40px 40px 20px 40px;
    }

    div.footercontentbg {
        background-color: rgba(25, 26, 35, 1);
        padding: 0px 40px;
    }

    div.footerlogo {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    div.footer_menu {
        display: flex;
        align-items: center;
        font-size: 14px;
        text-decoration: underline;
        color: white;
        gap: 40px;

    }

    div.social_icon {
        display: flex;
        gap: 20px;
    }

    h1.white {
        color: white;
    }

    div.footercontent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 40px 40px 40px;
    }

    div.buttonborder {
        display: flex;
        background-color: rgb(41, 42, 50);
        padding: 55px 40px;
        border-radius: 20px;
        width: 55%;
        align-items: center;
        gap: 10px;
    }

    span.contactusgreen {
        padding: 0px 7px 0px 7px;
        border-radius: 7px;
        background-color: rgb(185, 255, 102);
        color: rgb(25, 26, 35, 1);

    }

    div.contactinfo {
        color: white;
        width: 30%;
        gap: 20px;
        display: flex;
        flex-direction: column;
    }

    div.email {
        color: white;
        border-radius: 10px;
        border: 1px solid white;
        padding: 20px 35px 20px 35px;
        width: 60%;

    }

    div.subcribe {
        padding: 20px 35px;
        border: 1px solid;
        color: black;
        background-color: rgb(185, 255, 102);
        border-radius: 10px;
        width: 40%;
        text-align: center;
    }

    div.allright {

        color: white;
        border-top: 1px solid white;
        padding: 25px 0px;
        display: flex;
        gap: 30px
    }

    ;

    div.privacyline {
        text-decoration: underline;
    }

    div.social_iconbotton {
        display: none;
    }

    @media screen and (max-width: 1180px) {
        img.hamburgerbar {
            display: block;
        }

        div.menu_container {
            display: none;

        }

        div.footerborder {
            flex-direction: column;
        }

        div.footercontent {
            flex-direction: column;
            width: 100%;
            text-align: center;
            gap: 40px
        }

        div.buttonborder {
            width: 100%
        }

        div.email {
            width: 100%;
            text-align: left;
        }

        div.subcribe {
            width: 100%;
        }

        div.contactinfo {
            width: 100%;
        }
    }

    @media screen and (max-width: 900px) {
        div.header {
            padding: 0px 20px;
        }

        body {
            padding: 0px;
        }

        div.buttonborder {
            flex-wrap: wrap;
        }

        div.social_icon {
            display: none;
        }

        div.footerborder {
            border-radius: 0px;
        }

        div.footer_menu {
            flex-direction: column;
        }

        div.social_iconbotton {
            display: block;
            display: flex;
            gap: 20px;
        }


        div.allright {
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    }

    @media screen and (max-width: 700px) {}