 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
 }

 div.body_container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 40px;
     padding: 30px 0px;

 }

 div.para {
     width: 40%;
 }

 h1.navigate {
     font-size: 60px;
     padding-bottom: 35px;
 }

 p.our {
     padding-bottom: 35px;
 }

 button.book {
     color: white;
     background-color: black;
     border-radius: 10px;
     padding: 20px 30px 20px 30px;
     font-size: 20px;

 }

 div.brand_container {
     display: flex;
     gap: 20px;
     justify-content: space-between;
     align-items: center;
     margin-top: 30px;
     max-width: 100%;
     filter: grayscale(1);
 }

 div.brand {
     width: calc(16.66% - 16.66px);
 }

 p.menubar {
     display: none;
     font-size: 40px;
 }

 div.mediapic {
     display: none;
 }

 div.service {
     display: flex;
     align-items: center;
 }

 h2.serv {
     background-color: rgb(185, 255, 102);
     border-radius: 7px;
     color: black;
     padding: 0px 7px 0px 7px;
     font-size: 40px;
 }

 p.serviceinfo {
     font-size: 18px;
     padding: 40px;
 }

 div.servicecard {
     display: flex;
     justify-content: space-between;
     gap: 40px;
     padding: 20px 0px;
 }

 div.cardborder {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     border-radius: 45px;
     border: 1px solid black;
     width: 50%;
     padding: 15px;
 }

 div.bordergrey {
     background-color: rgb(243, 243, 243);
     box-shadow: 0px 5px;

 }

 div.bordergreen {
     background-color: rgb(185, 255, 102);
     box-shadow: 0px 5px;
 }

 div.borderblack {
     background-color: rgb(25, 26, 35);
     box-shadow: 0px 5px;
 }


 div.cardcontent {
     display: flex;
     flex-direction: column;
     width: 50%;
 }

 h3 {
     align-items: center;
     padding-bottom: 40px;
     font-weight: 500;
     font-size: 25px;
 }

 div.contentbody {
     display: flex;
     width: 100%;
 }

 div.arror {
     align-items: center;
     display: flex;
 }

 span.textborder {
     padding: 0px 7px 0px 7px;
     border-radius: 7px;
 }

 span.h3green {
     background-color: rgb(185, 255, 102);

     color: black;

 }

 span.h3white {
     background-color: white;

 }

 p.learn {
     padding: 15px;
     font-weight: 400;

 }

 p.learnw {
     color: white;
     padding: 15px;
     font-weight: 400;
 }

 div.letmake_container {
     display: flex;
     padding: 20px 0px 20px 0px;

 }

 div.letmakeborder {
     border-radius: 45px;
     background-color: rgb(243, 243, 243);
     align-items: center;
     justify-content: space-evenly;
     display: flex;
     padding: 15px;
     width: 100%;
 }

 div.letmakecontent {
     width: 50%;
 }

 @media screen and (max-width: 1180px) {
     img.hamburgerbar {
         display: block;
     }

     div.menu_container {
         display: none;

     }

     div.footerborder {
         flex-direction: column;
     }

     div.footercontent {
         flex-direction: column;

     }

     div.buttonborder {
         width: 100%
     }

     div.email {
         width: 100%;
     }

     div.subcribe {
         width: 100%;
     }
 }


 @media screen and (max-width: 900px) {
     div.brand {
         width: calc(33.3% - 6.67px);
     }

     div.servicecard {
         flex-wrap: wrap;
         display: flex;


     }

     div.cardborder {
         width: 100%;
         align-items: flex-end;
         margin: auto;
     }



     body {
         padding: 20px;
     }

     div.buttonborder {
         flex-wrap: wrap;
     }

     div.social_icon {
         display: none;
     }
 }

 @media screen and (max-width: 700px) {
     div.para {
         text-align: left;
         width: 100%;
     }

     div.mediapic {
         display: block;
         width: 100%;
     }

     button.book {
         width: 100%;
     }

     div.illustration {
         display: none;
     }

     div.body_container {

         flex-direction: column-reverse;
     }


     div.service {
         flex-direction: column;
     }


     div.contentpic {
         width: 30%;
     }


     p.learn {
         display: none;
     }

     p.learnw {
         display: none;
     }

     h1.navigate {
         font-size: 45px;
     }

     div.letmakecontent {
         width: 100%;
         padding: 20px;
     }

     div.letmakeill {
         display: none;
     }
 }