@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* === rootvariable === */
:root {
    --font-color-primary: #222222;
    --font-color-secondary: #444444;
    --font-color-link: #292899;
    /*Desktop font size*
    h1,h2,h3(font size x 1.3)*/
    --font-family: "Lexend";
    --number-font-family: "Oswald";
    --desktop-h1-font-size: 60px;
    --desktop-h1-line-height: 62.4px;

    --desktop-h2-font-size: 42px;
    --desktop-h2-line-height: 50.7px;

    --desktop-h3-font-size: 36px;
    --desktop-h3-line-height: 46.8px;
    /*Desktop font size*
    h4,h5,h6(font size x 1.4)*/
    --desktop-h4-font-size: 24px;
    --desktop-h4-line-height: 30.8px;

    --desktop-h5-font-size: 20px;
    --desktop-h5-line-height: 28px;

    --desktop-h6-font-size: 16px;
    --desktop-h6-line-height: 22.4px;
    --line-weight: 500;

    /*tablet font size
    h1,h2,h3(font size x 1.3)*/
    --tablet-h1-font-size: 50px;
    --tablet-h1-line-height: 65px;

    --tablet-h2-font-size: 42px;
    --tablet-h2-line-height: 54.6px;

    --tablet-h3-font-size: 36px;
    --tablet-h3-line-height: 46.8px;
    /*tablet font size*
    h4,h5,h6(font size x 1.4)*/
    --tablet-h4-font-size: 24px;
    --tablet-h4-line-height: 31.2px;

    --tablet-h5-font-size: 20px;
    --tablet-h5-line-height: 28px;

    --tablet-h6-font-size: 16px;
    --tablet-h6-line-height: 22.4px;

    /*mobile font size 
    h1,h2,h3(font size x 1.3)*/
    --mobile-h1-font-size: 48px;
    --mobile-h1-line-height: 62.4px;

    --mobile-h2-font-size: 39px;
    --mobile-h2-line-height: 50.7px;

    --mobile-h3-font-size: 24px;
    --mobile-h3-line-height: 46.8px;
    /*mobile font size*
    h4,h5,h6(font size x 1.4)*/
    --mobile-h4-font-size: 22px;
    --mobile-h4-line-height: 30.8px;

    --mobile-h5-font-size: 20px;
    --mobile-h5-line-height: 28px;

    --mobile-h6-font-size: 16px;
    --mobile-h6-line-height: 22.4px;

    /*body desktop*/
    --font-body1-desktop: 36px;
    --font-body2-desktop: 34px;
    --font-body3-desktop: 24px;
    --font-body4-desktop: 17px;
    --font-body5-desktop: 16px;
    --font-body6-desktop: 14px;
    --font-body7-desktop: 12px;
    /*buttton*/
    --btn-primary-bg: #27C4E5;
    --btn-secondary-bg: #FCC943;
    --btn-tertiary-bg: #292899;
    --btn-primary-text: #222222;
    --btn-secondary-text: #FFFFFF;
    --btn-primary-padding: 22px 34px 24px 34px;
    --btn-secondary-padding: 20px 30px;
    --btn-font-size: 16px;
    --btn-border-radius: 6px;
    --btn-icon-width: 16px;
    --btn-header-button: #ECF9EE;
    --btn-header-hoverbutton: #F2F0FF;
    --btn-text-deco: none;

    /*form fill*/
    --fill-background: #fbfbfb;
    --fill-padding: 16px;
    --fill-border-radius: 8px;
    --fill-border-bottom: 1px solid #212121;
}


body {
    font-family: var(--font-family);
    color: var(--font-color-primary);
}

div.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 80px;
    align-items: center;
}

div.header_menu {
    display: flex;
    gap: 30px;
    font-size: 17px;
}

div.menu:hover {
    color: #FCC943
}

div.header_btn {
    display: flex;
    align-items: center;
    gap: 16px;
}


button.enrol {
    font-size: var(--btn-font-size);
    padding: var(--btn-secondary-padding);
    border-radius: var(--btn-border-radius);
    background-color: var(--btn-header-button);
    border: 0px;
    text-decoration: none;
    color: var(--btn-primary-color)
}

a.btn_header_color {
    text-decoration: none;
    color: var(--btn-primary-color);
}

div.header_btn a::after {
    content: url("../images/button_icon.png");
    display: inline-block;
    width: 17px;
    padding-left: 12px;
}

/* sample */
div.heading_box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
    background-color: beige;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;

}

h1 {
    font-size: var(--desktop-h1-font-size);
    line-height: var(--desktop-h1-line-height);
    font-weight: var(--line-weight);
}

h2 {
    font-size: var(--desktop-h2-font-size);
    line-height: var(--desktop-h2-line-height);
    font-weight: var(--line-weight);
}

h3 {
    font-size: var(--desktop-h3-font-size);
    line-height: var(--desktop-h3-line-height);
    font-weight: var(--line-weight);
}

h4 {
    font-size: var(--desktop-h4-font-size);
    line-height: var(--desktop-h4-line-height);
    font-weight: var(--line-weight);
}

h5 {
    font-size: var(--desktop-h5-font-size);
    line-height: var(--desktop-h5-line-height);
    font-weight: var(--line-weight);
}

h6 {
    font-size: var(--desktop-h6-font-size);
    line-height: var(--desktop-h6-line-height);
    font-weight: var(--line-weight);
}

p>a {
    color: var(--font-color-link);
}

p>a:hover {
    text-decoration: none;
    color: var(--font-color-primary);
}

div.button_card {
    background-color: beige;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
}

div.button_box {
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}

div.button_box>div.hover1:hover {
    color: var(--btn-primary-color);
    background-color: var(--btn-secondary-bg);
}

div.button_box>div.hover2:hover {
    color: var(--btn-secondary-text);
    background-color: var(--btn-tertiary-bg);
}

div.button_box>div.hover3:hover {
    color: var(--btn-primary-text);
    background-color: var(--btn-secondary-bg);
}

div.btn {
    display: inline-block;
    background-color: var(--btn-primary-bg);
    padding: var(--btn-primary-padding);
    border-radius: var(--btn-border-radius);
    border: none;
    cursor: pointer;
}

div.btn_primary {
    background-color: var(--btn-primary-bg);
    color: var(--btn-secondary-text);
}

div.btn_secondary {
    background-color: var(--btn-secondary-bg);
    color: var(--btn-primary-text);
}

div.btn_tertiary {
    background-color: var(--btn-tertiary-bg);
    color: var(--btn-secondary-text);
}


div.btn>a {
    text-decoration: var(--btn-text-deco);
    color: var(--btn-secondary-color);
}

div.icon_black>a::after {
    content: url("../images/button_icon.png");
    display: inline-block;
    width: 17px;
    padding-left: 12px;
}

div.icon_white>a::after {
    content: url("../images/white_icon.png");
    display: inline-block;
    width: 17px;
    padding-left: 12px;
}

/* form */
div.form {
    background-color: beige;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
}

input[type="text"] {
    border: none;
    padding: 16px 32px;
    width: 100%;
    margin: 10px 0px;
    font-size: var(--btn-font-size);
    border-radius: var(--fill-border-radius);
}

input[type="text"]:focus {
    outline: none;
    border-bottom: var(--fill-border-bottom);
}

div.form>button.next {
    background-color: var(--btn-secondary-bg);
    color: var(--btn-primary-text);
    border: none;
    padding: 48px 32px;
    border-radius: var(--btn-border-radius);
    font-size: var(--btn-font-size);
    width: 100%;
}