@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* === rootvariable === */
:root {
    --font-color-primary: #222222;
    --font-color-secondary: #444444;
    /*Desktop font size*/
    --font-family: "Lexend";
    --number-font-family: "Oswald";
    --desktop-h1-font-size: 60px;
    --desktop-h1-line-height: 62.4px;

    --desktop-h2-font-size: 42px;
    --desktop-h2-line-height: 50.7px;

    --desktop-h3-font-size: 36px;
    --desktop-h3-line-height: 46.8px;

    --desktop-h4-font-size: 24px;
    --desktop-h4-line-height: 30.8px;

    --desktop-h5-font-size: 20px;
    --desktop-h5-line-height: 28px;

    --desktop-h6-font-size: 16px;
    --desktop-h6-line-height: 22.4px;
    --line-weight: 500;

    /*tablet font size*/
    --tablet-h1-font-size: 50px;
    --tablet-h1-line-height: 65px;

    --tablet-h2-font-size: 42px;
    --tablet-h2-line-height: 54.6px;

    --tablet-h3-font-size: 36px;
    --tablet-h3-line-height: 46.8px;

    --tablet-h4-font-size: 24px;
    --tablet-h4-line-height: 31.2px;

    --tablet-h5-font-size: 20px;
    --tablet-h5-line-height: 28px;

    --tablet-h6-font-size: 16px;
    --tablet-h6-line-height: 22.4px;

    /*mobile font size*/
    --mobile-h1-font-size: 48px;
    --mobile-h1-line-height: 62.4px;

    --mobile-h2-font-size: 39px;
    --mobile-h2-line-height: 50.7px;

    --mobile-h3-font-size: 24px;
    --mobile-h3-line-height: 46.8px;

    --mobile-h4-font-size: 22px;
    --mobile-h4-line-height: 30.8px;

    --mobile-h5-font-size: 20px;
    --mobile-h5-line-height: 28px;

    --mobile-h6-font-size: 16px;
    --mobile-h6-line-height: 22.4px;

    /*buttton*/
    --btn-primary-bg: #FCC943;
    --btn-primary-text: #222222;
    --btn-primary-padding: 22px 34px 24px 34px;
    --btn-secondary-padding: 20px 30px;
    --btn-font-size: 16px;
    --btn-border-radius: 6px;
    --btn-icon-width: 16px;
    --btn-primary-color: #222222;
    --btn-secondary-color: #FFFFFF;
    --btn-header-button: #ECF9EE;
    --btn-header-hoverbutton: #F2F0FF;

}

body {
    font-family: var(--font-family);
    color: var(--font-color-primary);
}

div.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 80px;
    align-items: center;
}

div.header_menu {
    display: flex;
    gap: 30px;
    font-size: 17px;
}

div.header_btn {
    display: flex;
    align-items: center;
    gap: 16px;
}


button.enrol {
    font-size: var(--btn-font-size);
    padding: var(--btn-secondary-padding);
    border-radius: var(--btn-border-radius);
    background-color: var(--btn-header-button);
    border: 0px;
    text-decoration: none;
    color: var(--btn-primary-color)
}

a.btn_header_color {
    text-decoration: none;
    color: var(--btn-primary-color);
}

div.header_btn a::after {
    content: url("../images/button_icon.png");
    display: inline-block;
    width: 17px;
    padding-left: 12px;
}